@tailwind base;
@tailwind components;
@tailwind utilities;

.inner {
  margin:auto;
  width:1300px;
}

/* sm */
@media (min-width: 640px) {
  .inner{width:540px;}
}

/* md */
@media (min-width: 768px) {
  .inner{width:740px;}
}

/* lg */
@media (min-width: 1024px) {
  .inner{width:980px;}
}

/* xl */
@media (min-width: 1280px) {
  .inner{width:1200px;}
}

/* 2xl */
@media (min-width: 1536px) {
  .inner{width:1300px;}
}