.react-calendar {
  border-radius: 1.5rem;
  width: 600px;
  height:380px;
  padding:20px;
  border: none;
  font-family: none;
  max-width: 600px;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.react-calendar__navigation {
  border-bottom: 2px solid #f97316;
}

.react-calendar__month-view__weekdays {
  font-size: 1em;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #ccc;
}

.react-calendar__tile--now {
  background: #EA880C;
  color:#fff;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #EA880C;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #f97316;
  color:#fff;
}

.react-calendar__tile--active {
  background: none;
  color:#000;
}